.container-lista-produtos{
    width: 100%;
    display: flex;
    flex: 1;
    margin-bottom: 100px;
}

.container-produtos{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container-produtos-list{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container-produtos h1{
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    color: black;
}

.produto-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.infos-produtos{
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.192);
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px 5px 0px;
    border-radius: 8px;
}

.infos-produtos h2, p, span{
    color: black;
    margin: 0;
    flex-wrap: wrap;
}

.infos-produtos p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.637);
}

.infos-produtos h1{
    font-size: 18px;
    font-weight: 500;
}

.infos-produtos span{
    font-size: 15px;
    font-weight: 600;
}

.infos-produtos img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.infos-texto{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

.div-infos-img{
    display: flex;
    flex-direction: row-reverse;
}

.add-product{
    width: 70px;
    margin-right: 10px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: black;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 5px;
}

.price-add{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.button-add-produto {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    align-self: flex-end;
    width: 100%;
    flex-direction: column;
    margin-left: 10px;
    gap: 40px;
}

.button-add-produto h1,
.button-add-produto p {
    margin: 0;
    padding: 0;
}

.icone-carrinho-add p{
    font-size: 2px;
}
