.container-lista-produtos{
    width: 100%;
    display: flex;
    flex: 1;
    margin-bottom: 100px;
}

.container-produtos{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container-produtos-list{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container-produtos h1{
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    color: black;
}

.produto-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.infos-produtos{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.192);
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
    justify-content: space-between;
    align-items: center;
}

.infos-produtos h2, p, span{
    color: black;
    margin: 0;
    flex-wrap: wrap;
}   

.infos-produtos p{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.637);
}

.infos-produtos h2{
    font-size: 15px;
    font-weight: 700;
}

.infos-produtos span{
    font-size: 13px;
    font-weight: 600;
}

.infos-produtos img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
}

.infos-produtos, .infos-texto{
    margin-right: 5px;
}