.cadastrar-produto-container{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(59, 59, 59, 0.041);
}

.cadastrar-produto-container h2{
    margin-bottom: 0px;

}

.cadastrar-produto-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-form-cadastro{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 45px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;    
}

.btns-cadastrar-produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.btn-cadastrar-form{
    width: 50%;
    padding: 10px;
    background-color: rgb(38, 38, 100);
    color: white;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.btn-voltar-form{
    width: 40%;
    padding: 5px;
    background-color: rgb(166, 166, 252);
    color: white;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.tabela-produtos {
  width: 100%;
  border-collapse: collapse;
}

.lista-produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-height: 400px; 
    overflow-y: auto;  
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tabela-wrapper {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 10px;
}

.tabela-body-scroll {
    max-height: 300px;
    overflow-y: auto;
}

.tabela-produtos th,
.tabela-produtos td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
}

.tabela-produtos th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.tabela-produtos tr:hover {
    background-color: #f0f0f0;
}

.tabela-produtos th{
    background-color: black;
    color: white;
    border: 1px solid white;
}

.tabela-produtos tr{
    border: 1px solid white;
    color: black;
}
