.nav-bar{
    width: 100%;
    background-color: rgb(255, 227, 227);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    height: 50px;
    
}

.inicio, .carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icone {
    font-size: 20px;
    color: rgba(20, 20, 20, 0.603);
}

.inicio:hover, .carrinho:hover{
    cursor: pointer;
}

.carrinho p, .inicio p {
    font-size: 10px;
    font-weight: bold;
    margin: 0;
}


@media (max-width: 1024px) {
    .nav-bar{
        justify-content: space-around;
    }
}