.produto-detail-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produto-detail-header{
    width: 100%;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
}

/* IMAGEM*/

.icone.visible {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.icone.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}


.produto-detail-img .icone {
    display: flex;
    position: fixed;
    color: #ffffff;
    padding: 10px;
    font-size: 25px;
}

.produto-detail-img{
    width: 100%;
    height: 250px;
    background-color: beige;
}

.produto-detail-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* INFOS*/
.produto-detail-info{
    flex: 1;
    
    padding: 10px;
}

.produto-detail-info h1, p{
    margin: 0;
    padding: 0px;
}


/*MORE PRODUTOS */

.produto-more-separete{
    width: 100%;
    background-color: #c4c4c4;
    padding: 10px;
}

.produto-separate p {
    font-size: 15px;
    font-weight: 600;
}

/* LIST PRODUTOS */

.produto-more-list-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 100px;
}

.produto-more-list-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.produto-recomended-card{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border: 1px solid #0000002f;
    padding: 10px;   
    justify-content: space-between;
}

.produto-recomended-card img{
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.produto-recomended-name p{
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}


@media (max-width: 1024px) {
    .produto-detail-header{
        width: 100%;
        flex: 1;
        flex-direction: column;
    }
}
