.header {
    background-color: orange;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.buttons-options{
    display: flex;
    flex-direction: row;
}

.buttons-options, .icon-search, .icon-share{
    color: #000000;
}

.buttons-options button{
    width: 40px;
    height: 40px;
    position: relative;
    padding: 10px 12px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .header{
        padding: .5rem 1rem .5rem 1rem;
    }
}